<div>
  <div>
    <sly-file-storage-upload
      v-if="state.slyProjectId && !state.prefNodeId"
      :options="{ folder: '/import/import-pointclouds-pcd/' + context.formId + '/' }"
      @files-uploaded="state.files = '/import/import-pointclouds-pcd/' + context.formId + '/'"
    >
    </sly-file-storage-upload>
  </div>
  <div v-if="state.prefNodeId">
    <sly-field
      title="Result project"
      description="Define destination project and/or dataset"
    >
      <div class="fflex">
        <el-radio
          class="radio"
          v-model="state.dstProjectMode"
          label="newProject"
          @input="(val) => {
                              if (val === 'newProject') {
                                  state.dstDatasetMode = 'newDataset';
                                  state.slyProjectId = ''
                              }
                            }"
        >
          Create new project
        </el-radio>
        <el-radio
          class="radio"
          v-model="state.dstProjectMode"
          label="existingProject"
          @input="(val) => {
                              if (val === 'existingProject') {
                                  state.dstDatasetMode = 'newDataset';
                                  state.slyDatasetId = ''
                              }
                            }"
          >Add to existing project
        </el-radio>
        <el-radio
          class="radio"
          v-model="state.dstProjectMode"
          label="existingDataset"
          >Add to existing dataset
        </el-radio>
      </div>
      <div class="mt5">
        <div
          v-if="state.dstProjectMode === 'existingProject' || state.dstProjectMode === 'existingDataset'"
        >
          <sly-select-project
            :workspace-id="context.workspaceId"
            :project-id.sync="state.slyProjectId"
            :options="{availableTypes: ['point_clouds']}"
          >
          </sly-select-project>
        </div>
        <div v-if="state.dstProjectMode === 'existingDataset'">
          <sly-select-dataset
            :project-id="state.slyProjectId"
            :datasets.sync="state.slyDatasetId"
            :options="{multiple: false, valueProperty: 'id'}"
          ></sly-select-dataset>
        </div>
      </div>
    </sly-field>
  </div>
  <div
    v-if="!state.slyProjectId"
    class="fflex align-start"
    style="flex-direction: column; margin: 0 0 20px 0"
  >
    <sly-field
      title="Result Project Name"
      description="Enter project name manually (optional) or keep empty to generate it automatically"
    >
    </sly-field>
    <el-input
      placeholder="Enter Project Name"
      v-model="state.projectName"
    ></el-input>
  </div>

  <div class="mt10 mb10" v-if="!state.prefNodeId">
    <el-checkbox v-model="state.removeSource"
      >Remove source files from Team Files after successful import</el-checkbox
    >
  </div>
  <div>
    <i class="zmdi zmdi-alert-triangle" style="color: #ed4242"></i>
    <span style="color: 3f3f3f"
      >Archives are not supported. Please upload a folder with .pcd files or
      subfolders with .pcd files.
    </span>
  </div>
</div>
